services:
  web:
    tty: true
    build:
      context: .
    container_name: PB_Import_mysql
    ports:
      - "5000:5000"
    volumes:
      - ./:/home/uimm/Documents/PB.Importation
    depends_on:
      - db
    networks:
      - app_network
      
  db:
    image: mysql
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: PB_Import_mysql
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: Léo
      MYSQL_PASSWORD: Léo
    ports:
      - "3306:3306"
    volumes:
      - mysql-volume:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

  duckdns:
    image: linuxserver/duckdns
    container_name: duckdns
    restart: always
    environment:
          - SUBDOMAINS=pbimportation.duckdns.org
          - TOKEN=70c67582-cf54-45b8-9aa6-0b4c4c3add85
          - LOG_FILE=false
    volumes:
          - ./duckdns/config:/config
    
  nginx:
    image: nginx:alpine
    container_name: nginx-web
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/html:/usr/share/nginx/html
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    
  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  
volumes:
  mysql-volume:

networks:
  app_network:
   driver: bridge