services:
  web:
    tty: true
    build:
      context: .
    container_name: PB_Import_mysql
    ports:
      - "5000:5000"
    volumes:
      - ./:/home/uimm/Documents/PB.Importation
    depends_on:
      - db

  db:
    image: mysql
    container_name: mysql
    restart: always
    environment:
      MYSQL_DATABASE: PB_Import_mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql-volume:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  mysql-volume: