body {
    background-color: rgb(226, 226, 226);
    }

    h1, h2{
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin: 100px;
    }

    p {
    text-align: center;
    color: chocolate;
    font-family: courier;
    font-size: 24px;
    }

    ul, li {
    color: red;
    font-family: courier;
    }

    .Input {
        display: flex;
        text-align: center;
        font-size: 18px;
        color: rgb(0, 0, 0);
        margin-left: 50%;
        transform: translate(-50%, -50%)

    }
    