/*//////////////////////////////////////////////////////////////////////
////////////////////////    Corp partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/


body {
        background-color: rgb(0, 0, 0);
        margin: 0%;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }

    div {
        display: block;
        unicode-bidi: isolate;
    }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Bandeau du haut     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    .Bandeau {
        height: 68px;
        width: 100Vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        position: fixed;
        border-bottom: solid 1px #949494;
        z-index: 50;
        backdrop-filter: blur(8px);
        top: 0;
    }

    .Bandeau #Bandeau_haut_gauche {
        width: 50%;
        height: 100%;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture a {
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture img {
        height: 60px;
        margin-top: 10px;
        margin-left: 25px;
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_droit {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier a {
        color: aliceblue;
        font-size: 20px;
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu-icon__cheeckbox {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        opacity: 0;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div {
        margin: auto;
        position: absolute;
        top: 4.5px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 22px;
        height: 12px;
        transform: scale(1.1);
        opacity: .8;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div span:first-of-type {
        top: 0;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div span:last-of-type {
        bottom: 0;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div span {
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        border-radius: 1px;
        transition: all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
        background-color: #fff;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second a {
        color: aliceblue;
        font-size: 20px;
        cursor: pointer;
    }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Premiere partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    .homepage {
        overflow: hidden;
    }

    .Image_fond {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        z-index: -4;
    }

    .homepage .homepage_premiere_partie {
        height: 100vh;
        width: 100vw;
        display: flex;
        position: relative;
        background-color: rgba(0, 0, 0, .3215686275);
    }

    @media screen and (max-width: 1000px) {
        .homepage .homepage_premiere_partie{
        max-height: 115vh;
        margin-bottom: 0;
        }
    }
    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche {
            width: 100%;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche {
        width: 50%;
        height: 100%;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu {
            padding: 5rem 5rem 5rem 5rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu {
        width: 100%;
        height: 100%;
        color: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "GT-Flexa-Standard-Regular";
        padding: 0 0rem 0 5rem;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(1) {
            padding: 3rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(1) {
        width: 100%;
        font-size: 4rem;
        line-height: 100%;
        margin-bottom: 1rem;
        font-family: "GT-Flexa-Standard-Light";
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(2) {
            padding: 1.2rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(2) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(3) {
            padding: 1.2rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(3) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.3rem;
        margin-block-end: 1.5em;
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(4) {
        display: flex;
        align-items: center;
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(4) a {
        border: solid 1px #fff;
        border-radius: 150px;
        padding: 12px 60px;
        color: #fbfbfb;
        font-family: "GT-Flexa-Standard-Light";
        width: auto;
        transition: .3s ease-in-out;
        font-size: 1em;
    }

    #homepage_text_anime h1 {
        color: #d9d9d9;
        font-family: "GT-Flexa-Standard-Light";
        font-size: 4.125em;
        width: auto;
        white-space: nowrap;
        animation: scrollTxtHomepage 30s linear infinite;
        height: auto;
        display: flex;
        align-items: center;
        margin: 8px;
    }

    #homepage_text_anime {
        height: auto;
        width: auto;
        position:relative ;
        display: flex;
        bottom: 0%;
        white-space: nowrap;
        border-top: solid 1px rgba(251, 251, 251, .5019607843);
        box-shadow: inset 0px 0px 42px 5px rgba(255, 255, 255, .24);
    }

    @keyframes scrollTxtHomepage {
        from {
          transform: translate(0%);
        }
      
        to {
            transform: translate(-100%);
        }
      }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Deuxième partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie {
        height: auto;
        width: 100%;
        display: flex;
        padding: 0 5rem;
        margin-top: 10rem;

    }   

    @media screen and (max-width:1300px) { 
        #homepage_deuxieme_partie {
            display: flex;
            flex-direction: column;
            min-height: auto;
            justify-content: space-around;
            gap: 2.5rem;
        }    
    }   

/*//////////////////////////////////////////////////////////////////////
/////////////-/////    Deuxième partie coté gauche    //////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie_gauche {
        align-items:center;
        margin-right: 5%;
    }

    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin: 0px auto;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        text-align: left;
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu h2 {
        font-family: "GT-Flexa-Standard-Light";
        color: #d9d9d9;
        opacity: 1;
        font-size: 4em;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 1300px){
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu h2 {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(2) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.5em;
        margin-bottom: 2rem;
        color: #d9d9d9;
    }
    
    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(2) {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(3) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.5em;
        margin-bottom: 2rem;
        color: #d9d9d9;
    }
    
    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(3) {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(4) {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        color: #d9d9d9;
    }
    
    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu a {
        border: solid 1px #fff;
        border-radius: 150px;
        padding: 12px 60px;
        color: #fbfbfb;
        font-family: "GT-Flexa-Standard-Light";
        width: auto;
        transition: .3s ease-in-out;
        font-size: 1em;
    }

/*//////////////////////////////////////////////////////////////////////
/////////////-/////    Deuxième partie coté droite    //////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie_droite {
        height: 100%;
        display: flex;
        padding-left: 24px;
        padding-top: 90px;
        position: relative;
    }

    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_droite {
            width: 100%;
            padding-top: 0px;
            flex-direction: column;
            margin: auto;
            padding-left: 0px;
        }
    }

    #homepage_deuxieme_partie_droite_texte div:nth-child(1) h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte div:nth-child(1) h3::before {
        content: "01";
        font-size: 30px;
    }

    h3 {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-family: "GT-Flexa-Standard-Light";
        color: #d9d9d9;
        font-size: 23px;
        width: 450px;
    }

    #homepage_deuxieme_partie_droite_texte div p {
        font-family: "WorkSans-Light";
        font-size: 1.2rem;
        margin-bottom: 30px;
        display: none;
        color: #d9d9d9;
    }

    #homepage_deuxieme_partie_droite_texte div ul {
        font-family: "WorkSans-Light";
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    ul {
        box-sizing: border-box;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
    }

    #homepage_deuxieme_partie_droite_texte div ul li {
        margin-bottom: 20px;
        margin-left: 14px;
        list-style: disc;
        color: #d9d9d9
    }

    ul li::marker {
        color: #d9d9d9;
        font-size: 20px;
    }

    #homepage_deuxieme_partie_droite div span {
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        transition: all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
        background-color: #fff;
        margin-bottom: 20px;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°2 h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°2 h3::before {
        content: "02";
        font-size: 30px;
    }
