/*//////////////////////////////////////////////////////////////////////
////////////////////////    Corp partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/


body {
        background-color: rgb(0, 0, 0);
        margin: 0%;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }

    div {
        display: block;
        unicode-bidi: isolate;
    }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Bandeau du haut     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    .Bandeau {
        height: 68px;
        width: 100Vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        position: fixed;
        border-bottom: solid 1px #949494;
        z-index: 50;
        backdrop-filter: blur(8px);
        top: 0;
    }

    .Bandeau #Bandeau_haut_gauche {
        width: 50%;
        height: 100%;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture a {
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_gauche .Bandeau_ecriture img {
        height: 60px;
        margin-top: 10px;
        margin-left: 25px;
        cursor: pointer;
    }

    .Bandeau #Bandeau_haut_droit {
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier button {
        color: aliceblue;
        font-size: 20px;
        cursor: pointer;
        background: none;
        border: none;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }


    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div {
        margin: auto;
        position: absolute;
        top: 4.5px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 22px;
        height: 12px;
        transform: scale(1.1);
        opacity: .8;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second a {
        color: aliceblue;
        font-size: 20px;
        cursor: pointer;
    }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    MENU glisaant     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    /* Conteneur du menu latéral */
    #menuOverlay {
        position: fixed;
        top: 0;
        right: -300px; /* Caché par défaut (hors de l'écran) */
        width: 300px;
        height: 100%;
        background: #949494;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
        transition: right 0.3s ease-in-out;
        padding-top: 60px;
        z-index: 1000;
    }

    /* Affichage du menu quand il est actif */
    #menuOverlay.active {
        right: 0;
    }

    /* Style du bouton de fermeture */
    #closeMenu {
        position: absolute;
        top: 10px;
        left: 10px;
        background: red;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    /* Style du menu */
    #menuOverlay ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    #menuOverlay li {
        margin: 20px 0;
    }

    #menuOverlay a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }



/*//////////////////////////////////////////////////////////////////////
////////////////////////    Premiere partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    .homepage {
        overflow: hidden;
    }

    .Image_fond {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        z-index: -4;
    }

    .homepage .homepage_premiere_partie {
        height: 100vh;
        width: 100vw;
        display: flex;
        position: relative;
        background-color: rgba(0, 0, 0, .3215686275);
    }

    @media screen and (max-width: 1000px) {
        .homepage .homepage_premiere_partie{
        max-height: 115vh;
        margin-bottom: 0;
        }
    }
    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche {
            width: 100%;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche {
        width: 50%;
        height: 100%;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu {
            padding: 5rem 5rem 5rem 5rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu {
        width: 100%;
        height: 100%;
        color: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "GT-Flexa-Standard-Regular";
        padding: 0 0rem 0 5rem;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(1) {
            padding: 3rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(1) {
        width: 100%;
        font-size: 4rem;
        line-height: 100%;
        margin-bottom: 1rem;
        font-family: "GT-Flexa-Standard-Light";
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(2) {
            padding: 1.2rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(2) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1200px) {
        .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(3) {
            padding: 1.2rem;
        }
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(3) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.3rem;
        margin-block-end: 1.5em;
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(4) {
        display: flex;
        align-items: center;
    }

    .homepage .homepage_premiere_partie .homepage_premiere_partie_gauche .homepage_premiere_partie_gauche_contenu p:nth-child(4) a {
        border: solid 1px #fff;
        border-radius: 150px;
        padding: 12px 60px;
        color: #fbfbfb;
        font-family: "GT-Flexa-Standard-Light";
        width: auto;
        transition: .3s ease-in-out;
        font-size: 1em;
    }

    #homepage_text_anime h1 {
        color: #d9d9d9;
        font-family: "GT-Flexa-Standard-Light";
        font-size: 4.125em;
        width: auto;
        white-space: nowrap;
        animation: scrollTxtHomepage 30s linear infinite;
        height: auto;
        display: flex;
        align-items: center;
        margin: 8px;
    }

    #homepage_text_anime {
        height: auto;
        width: auto;
        position:relative ;
        display: flex;
        bottom: 0%;
        white-space: nowrap;
        border-top: solid 1px rgba(251, 251, 251, .5019607843);
        box-shadow: inset 0px 0px 42px 5px rgba(255, 255, 255, .24);
    }

    @keyframes scrollTxtHomepage {
        from {
          transform: translate(0%);
        }
      
        to {
            transform: translate(-100%);
        }
      }

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Deuxième partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie {
        height: auto;
        width: 100%;
        display: flex;
        padding: 0 5rem;
        margin-top: 10rem;

    }   

    @media screen and (max-width:1300px) { 
        #homepage_deuxieme_partie {
            display: flex;
            flex-direction: column;
            min-height: auto;
            justify-content: space-around;
            gap: 2.5rem;
        }    
    }   

/*//////////////////////////////////////////////////////////////////////
/////////////-/////    Deuxième partie coté gauche    //////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie_gauche {
        align-items:center;
        margin-right: 5%;
    }

    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin: 0px auto;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        text-align: left;
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu h2 {
        font-family: "GT-Flexa-Standard-Light";
        color: #d9d9d9;
        opacity: 1;
        font-size: 4em;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 1300px){
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu h2 {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(2) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.5em;
        margin-bottom: 2rem;
        color: #d9d9d9;
    }
    
    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(2) {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(3) {
        font-weight: 100;
        font-family: "WorkSans-Light";
        font-size: 1.5em;
        margin-bottom: 2rem;
        color: #d9d9d9;
    }
    
    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(3) {
            width: 100%;
        }
    }

    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu p:nth-child(4) {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        color: #d9d9d9;
    }
    
    #homepage_deuxieme_partie_gauche #homepage_deuxieme_partie_gauche_contenu a {
        border: solid 1px #fff;
        border-radius: 150px;
        padding: 12px 60px;
        color: #fbfbfb;
        font-family: "GT-Flexa-Standard-Light";
        width: auto;
        transition: .3s ease-in-out;
        font-size: 1em;
    }

/*//////////////////////////////////////////////////////////////////////
/////////////-/////    Deuxième partie coté droite    //////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_deuxieme_partie_droite {
        height: 100%;
        display: flex;
        padding-left: 50px;
        padding-top: 90px;
        position: relative;
    }

    @media screen and (max-width: 1300px) {
        #homepage_deuxieme_partie_droite {
            width: 100%;
            padding-top: 0px;
            flex-direction: column;
            margin: auto;
            padding-left: 0px;
        }
    }

    #homepage_deuxieme_partie_droite_texte div:nth-child(1) h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte div:nth-child(1) h3::before {
        content: "01";
        font-size: 30px;
    }

    h3 {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-family: "GT-Flexa-Standard-Light";
        color: #d9d9d9;
        font-size: 23px;
        width: 500px;
    }

    #homepage_deuxieme_partie_droite_texte div p {
        font-family: "WorkSans-Light";
        font-size: 1.2rem;
        margin-bottom: 30px;
        display: none;
        color: #d9d9d9;
    }

    #homepage_deuxieme_partie_droite_texte div ul {
        font-family: "WorkSans-Light";
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    ul {
        box-sizing: border-box;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
    }

    #homepage_deuxieme_partie_droite_texte div ul li {
        margin-bottom: 20px;
        margin-left: 14px;
        list-style: disc;
        color: #d9d9d9
    }

    ul li::marker {
        color: #d9d9d9;
        font-size: 20px;
    }

    #homepage_deuxieme_partie_droite div span {
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        transition: all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
        background-color: #fff;
        margin-bottom: 20px;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°2 h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°2 h3::before {
        content: "02";
        font-size: 30px;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°3 h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°3 h3::before {
        content: "03";
        font-size: 30px;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°4 h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°4 h3::before {
        content: "04";
        font-size: 30px;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°5 h3 {
        cursor: pointer;
    }

    #homepage_deuxieme_partie_droite_texte #Texte_n°5 h3::before {
        content: "05";
        font-size: 30px;
    }

/*//////////////////////////////////////////////////////////////////////
/////////////////////////    Troisième partie     //////////////////////
//////////////////////////////////////////////////////////////////////*/

    #homepage_troisieme_partie {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        position: relative;
    }

    #homepage_troisieme_partie div h2 {
        font-family: "GT-Flexa-Standard-Light";
        color: #d9d9d9;
        opacity: 1;
        font-size: 4em;
        padding: 0 5rem 2.5rem 5rem;
    }

    #Slide_contenu {
        height: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #Slide_contenu_droit {
        width: 50%;
        height: 250px;
        display: flex;
        flex-direction: row-reverse;
    }

    #Slide_contenu_droit_info1 {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 0px 50px;
        margin-right: 0px;

    }

    #Slide_contenu_droit_info1_fond {
        text-align: left;
        flex-direction: column;
        color: #fbfbfb;
        margin-top: -100px;
    }

    #Slide_contenu_droit_info1_titre {
        font-family: "GT-Flexa-Standard-Light";
        margin-bottom: 7px;
        font-size: 1.6em;
    }
    #Slide_contenu_droit_info1_SOUStitre {
        font-family: "WorkSans-Light";
        font-size: 1.2rem;
        margin-bottom: 7px;
        opacity: .7;
        text-transform: uppercase;
        max-width: 250px;
    }

    #Slide_contenu_droit_info1_contenu{
        font-family: "WorkSans-Light";
        font-size: .9em;
        margin-bottom: 20px;
        max-width: 250px;
    }

    #Slide_contenu_droit_info2 {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Slide_contenu_droit_info2_fond {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        color: #fbfbfb;
        width: 15vw;
        height: 25vh;
    }

    #Slide_contenu_droit_info2_fond div .Slide_contenu_droit_info2_texte {
        font-family: "WorkSans-Light";
        text-transform: uppercase;
    }

    #Slide_contenu_droit_info2_fond div .Slide_contenu_droit_info2_percent {
        font-family: "GT-Flexa-Standard-Light";
        font-size: 2em;
        margin-top: 5px;
    }
    #Slide_contenu_droit_info2_fond div hr {
        opacity: .7;
        width: 50px;
        border-bottom: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #Slide_contenu_gauche{
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #Navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: auto;
    }

    #Navigation .Bt_gauche {
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        transition: .6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;
    }

    #Navigation .Bt_droit {
        background-color: rgba(0, 0, 0, 0);
        border: 0px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        transition: .6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;
    }

    #Navigaion div {
        height: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #Navigation  .PageNo {
        font-size: 25px;
        padding: 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "WorkSans-Light";
        margin-left: 10px;
        margin-right: 10px;
    }

    #Navigation hr{
        height: 20px;
        margin: 10px;
        border-bottom: 1px;
        color: #fff;
        transform: rotate(90deg)
    }

    .Slide.active {
        display: block;
    }

    #Vitrine {
        width: 100vw;
        height: -webkit-fill-available;
        position: relative;
        margin: auto;
    }

    .Slide {
        display: none; 
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        transition: transform 0.5s ease-in-out;
    }

    #Vitrine .Slide img {
        width: 50%;
        height: 50%;
    }