/*//////////////////////////////////////////////////////////////////////
////////////////////////    Corp partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/


body {
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Bandeau du haut     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

.Bandeau {
    height: 68px;
    width: 100Vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: fixed;
    border-bottom: solid 1px #949494;
    z-index: 50;
    backdrop-filter: blur(8px);
    top: 0;
}

.Bandeau #Bandeau_haut_gauche {
    width: 50%;
    height: 100%;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture {
    display: flex;
    height: 100%;
    align-items: center;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture a {
    cursor: pointer;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture img {
    height: 60px;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.Bandeau #Bandeau_haut_droit {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier button {
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div {
    margin: auto;
    position: absolute;
    top: 4.5px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
    transform: scale(1.1);
    opacity: .8;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second a {
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////    MENU glisaant     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

#menuOverlay {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background: #949494;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
}

#menuOverlay.active {
    right: 0;
}

#closeMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#menuOverlay ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#menuOverlay li {
    margin: 20px 0;
}

#menuOverlay a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Corp     ////////////////////////
//////////////////////////////////////////////////////////////////////*/
p {
    color: #ffffff86;
    font-family: "WorkSans-Light";
    font-size:  15px;
    text-align: center;
}

#Premiere_etape {
    box-shadow: inset 0 0 2px 2px #ffffff4c;
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

#Caracéritsiques{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Marque {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;

}

#Marque label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Serie {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Serie label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Moteur {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Moteur label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Boite {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Boite label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Caracéritsiques_choix{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem ;
}

#Choix_Marque_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_Marque {
    margin-left:  10px;
}

#Choix_Serie_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_Moteur {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Choix_Moteur_Selection {
    width: 180px;
    height: 50px;
    background-color: #949494;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.selected {
    background-color: green;
    color: white;
}

#Choix_Boite {
    display: flex;
    flex-direction: column; /* Met les boutons en colonne */
    gap: 10px;
    margin-right: 10px;
}

.Choix_Boite_Selection {
    width: 180px;
    height: 50px;
    background-color: #949494;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.selected2 {
    background-color: green;
    color: white;
}

#Caracéritsiques_2{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Annee {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Annee label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Budget {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Budget label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#KM_max {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#KM_max label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#KM_max {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#KM_max label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Puissance {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Puissance label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Caracéritsiques_3{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Options {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Options label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Caracéritsiques_choix_2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem ;
}

#Choix_Annee_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_Annee {
    margin-left:  10px;
}

#Choix_KM{
    width: 180px;
}

#Choix_Budget_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 180px;
}

input[type="range"] {
    width: 180px
}
#valeur-affichee_KM {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "WorkSans-Light";
}

#Choix_Puissance{
    width: 180px;
    margin-right: 10px;
}

#valeur-affichee_CH {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "WorkSans-Light";
}
