/*//////////////////////////////////////////////////////////////////////
////////////////////////    Corp partie     ////////////////////////
//////////////////////////////////////////////////////////////////////*/


body {
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/*//////////////////////////////////////////////////////////////////////
///////////////////////    Flash messages     //////////////////////////
//////////////////////////////////////////////////////////////////////*/

.flash_message .danger{
    list-style-type: none;
    padding: 10px;
    background-color: #f8d7da; /* Couleur de fond pour les messages d'erreur */
    color: #721c24; /* Couleur du texte */
    border: 1px solid #f5c6cb; /* Bordure */
    margin-top: 100px;
    text-align: center;
    z-index: 2;
}

.flash_message .success {
    background-color: #bce4c5; /* Couleur de fond verte claire */
    color: #155724; /* Couleur du texte verte */
    border: 1px solid #c3e6cb; /* Bordure verte */
    padding: 10px;
    border-radius: 5px; /* Coins arrondis */
    margin-top: 100px;
    text-align: center;
    z-index: 2;
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////    Bandeau du haut     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

.Bandeau {
    height: 68px;
    width: 100Vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: fixed;
    border-bottom: solid 1px #949494;
    z-index: 50;
    backdrop-filter: blur(8px);
    top: 0;
}

.Bandeau #Bandeau_haut_gauche {
    width: 50%;
    height: 100%;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture {
    display: flex;
    height: 100%;
    align-items: center;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture a {
    cursor: pointer;
}

.Bandeau #Bandeau_haut_gauche .Bandeau_ecriture img {
    height: 60px;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.Bandeau #Bandeau_haut_droit {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier button {
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_premier .Menu_icon div {
    margin: auto;
    position: absolute;
    top: 4.5px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
    transform: scale(1.1);
    opacity: .8;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.Bandeau #Bandeau_haut_droit #Bandeau_haut_droit_second a {
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////
////////////////////////    MENU glisaant     ////////////////////////
//////////////////////////////////////////////////////////////////////*/

#menuOverlay {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background: #949494;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
}

#menuOverlay.active {
    right: 0;
}

#closeMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#menuOverlay ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#menuOverlay li {
    margin: 20px 0;
}

#menuOverlay a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

/*//////////////////////////////////////////////////////////////////////
//////////////////////////////    Corp     /////////////////////////////
//////////////////////////////////////////////////////////////////////*/
p {
    color: #ffffff86;
    font-family: "WorkSans-Light";
    font-size:  15px;
    text-align: center;
}

#Premiere_etape {
    box-shadow: inset 0 0 2px 2px #ffffff4c;
    width: 55%;
    margin-top: 6%;
    margin-left: 2%;
}

#Deuxieme_etape {
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-inline:2%;
    flex-direction: column;
}

#Première_partie{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#Caracéritsiques{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Marque {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;

}

#Marque label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Serie {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Serie label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Moteur {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Moteur label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Boite {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Boite label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Caracéritsiques_choix{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem ;
}

#Choix_Marque_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_Marque {
    margin-left:  10px;
}

#Choix_Serie_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_Moteur {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Choix_Moteur_Selection {
    width: 180px;
    height: 50px;
    background-color: #949494;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.selected {
    background-color: green;
    color: white;
}

#Choix_Boite {
    display: flex;
    flex-direction: column; /* Met les boutons en colonne */
    gap: 10px;
    margin-right: 10px;
}

.Choix_Boite_Selection {
    width: 180px;
    height: 50px;
    background-color: #949494;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.selected2 {
    background-color: green;
    color: white;
}

#Caracéritsiques_2{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Caracéritsiques_choix_2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem ;
}

#Annee {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Annee label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Budget {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Budget label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#KM_max {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#KM_max label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#KM_max {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#KM_max label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Puissance {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Puissance label {
    color: black;
    font-family: "WorkSans-Light";
    font-size:  20px;
}

#Caracéritsiques_3{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem ;
}

#Caracéritsiques_choix_3{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem ;
}

#Options {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Options label {
        color: black;
        font-family: "WorkSans-Light";
        font-size:  20px;
}

#Choix_Annee {
    margin-left:  10px;
}

#Choix_Annee_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Choix_KM{
    width: 180px;
}

#Choix_Budget_input{
    align-content: center;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 180px;
}

input[type="range"] {
    width: 180px;
}

.range-container {
    position: relative;
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

.slider {
    position: absolute;
    width: 100%;
}

#valeur-affichee_KM {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: "WorkSans-Light";
}

#Choix_Puissance{
    width: 180px;
    margin-right: 10px;
}

#range-values {
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: "WorkSans-Light";
}

#Divers {
    text-align: center;
    align-content: center;
    background-color: #949494;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

#Divers label {
        color: black;
        font-family: "WorkSans-Light";
        font-size:  20px;
}

#Options_choix_input{
    align-content: center;
    min-height: 40px;
    width: 1000px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Description_Choix_input{
    align-content: center;
    min-height: 40px;
    width: 1000px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Aide {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-block: 0.5rem;
}

#Choix_offre{
    box-shadow: inset 0 0 2px 2px #ffffff4c;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  35px;
    width: 90%;
    text-align: center;
    height: 70px;
    align-content: center;
    font-weight: bold;
}

.Choix_Presta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Choix_Presta button {
    width: 90%;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #ffffff4c;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-family: "WorkSans-Light";
    height: 70px;
    font-weight: bold;
}

button.active {
    background-color: white;
    color: black;
    border-color: white;
}

.Offre_WW_texte {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ffffff4c;
    background-color: black;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    font-family: "WorkSans-Light";
    height: auto;
    display: none;
}


/*//////////////////////////////////////////////////////////////////////
////////////////////////    Deuxieme partie    ////////////////////////
//////////////////////////////////////////////////////////////////////*/

#Deuxeme_partie {
    display : none;
}

#Span_deuxième_partie {
    position: relative;
    display: block;
    width: 90%;
    height: 2px;
    border-radius: 1px;
    transition: all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    background-color: #ffffff4c;
    margin-top: 2rem;
    margin-left: 5%;
}

#Informations_facturation {
    color: white;
    font-family: "WorkSans-Light";
    font-size:  35px;
    text-align: center;
    height: 70px;
    align-content: center;
    font-weight: bold;
    margin-block: 2rem;
}

#Champs_de_facturation{
    border: 2px solid #ffffff4c;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: black;
    width: 80%;
    margin-inline: 10%;
}

#Champs_de_facturation label {
    display: block;
    margin-top: 10px;
}
#Champs_de_facturation div input {
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "WorkSans-Light";
    font-size:  18px;
}

#Champs_de_facturation div label {
    color: white;
    font-family: "WorkSans-Light";
    font-size:  20px;
}


#btnValider {
    width: 200px; 
    height: 50px; 
    font-size: 18px; 
    padding: 10px; /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    background-color: #007BFF;
    color: white; 
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Curseur interactif */
}

#btnValider:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

#btnRetour {
    width: 200px; 
    height: 50px; 
    font-size: 18px; 
    padding: 10px; /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    background-color: #007BFF;
    color: white; 
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Curseur interactif */
}

#btnRetour:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

#Boutonnerie {
    text-align:center;
    padding: 1rem;
}

h5 {
    color: white;
    font-size:  15px;
    margin-top: 5px;
}