<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Comptes.css') }}">
    <title>PBimportation</title>
</head>

<body>
    <header>
        <div class="Bandeau haut">
            <div id="Bandeau_haut_gauche">
                <div class="Bandeau_ecriture">
                    <a href="/">
                        <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                    </a>
                </div>
            </div>
            <div id="Bandeau_haut_droit">
                <div id="Bandeau_haut_droit_premier">
                    <button id="Txt_menu">Menu ☰</button>
                </div>
                <div id="Bandeau_haut_droit_second">
                    <a id="Faire_demande" href="Demande"> Faire une demande</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="menuOverlay">
            <button id="closeMenu">Fermer ✖</button>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/Demande">Faire une demande</a></li>
                {% if 'user_id' not in session %}
                    <li><a href="/Connexion">Connexion</a></li>
                {% else %}
                    <li><a href="/logout" id="logoutButton">Déconnexion</a></li>
                    {% if session.get('id_Type') == 'ADMIN' %}
                        <li><a href="/Comptes">Comptes</a></li>
                    {% endif %}
                {% endif %}
            </ul>
       </div>
       <div id="Bloc_Comptes">
            <div id="Bloc_Droite"></div>
            <div id="Bloc_milieu">
                <h2>Liste des Comptes</h2>
                <form action="/supprimer_selection" method="POST"></form>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Email</th>
                            <th>Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><input type="checkbox" name="selected_users" value="{{ user[0] }}"></td> 
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ces comptes ?');">Supprimer la sélection</button>
            </div>
            <div id="Bloc_gauche"></div>
        </div>
        <pre>{{ users }}</pre>
    </main>

<script src="{{ url_for('static', filename='JS/Comptes.js') }}"></script>
</body>

</html>
