<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Connexion.css') }}">
        <title>Connexion</title>
    </head>
    
    <body>
        <header>
            <div class="Bandeau haut">
                <div id="Bandeau_haut_gauche">
                    <div class="Bandeau_ecriture">
                        <a href="/">
                            <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div id="Bandeau_haut_droit">
                    <div id="Bandeau_haut_droit_premier">
                        <button id="Txt_menu">Menu ☰</button>
                    </div>
                    <div id="Bandeau_haut_droit_second">
                        <a id="Faire_demande" href="Demande"> Faire une demande</a>
                    </div>
                </div>
            </div>
        </header>
        <div id='Bloc_connexion'>   
            <form action="/" method="POST">
                <label for="identifiant">Identifiant:</label><br>
                <input type="text" id="identifiant" name="identifiant"><br><br>
    
                <label for="password">Mot de passe:</label><br>
                <input type="password" id="password" name="password"><br><br>
    
                <input type="submit" value="Se connecter">
            </form>
        </div>

    <script src="{{ url_for('static', filename='JS/Conenxion.js') }}"></script>
    </body>
</html>
        