<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Demande.css') }}">
    <title>PBimportation</title>
</head>

<body>
    <header>
        <div class="Bandeau haut">
            <div id="Bandeau_haut_gauche">
                <div class="Bandeau_ecriture">
                    <a href="/">
                        <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                    </a>
                </div>
            </div>
            <div id="Bandeau_haut_droit">
                <div id="Bandeau_haut_droit_premier">
                    <button id="Txt_menu">Menu ☰</button>
                </div>
                <div id="Bandeau_haut_droit_second">
                    <a id="Faire_demande" href="Demande"> Faire une demande</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="menuOverlay">
            <button id="closeMenu">Fermer ✖</button>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/Demande">Faire une demande</a></li>
                {% if 'user_id' not in session %}
                    <li><a href="/Connexion">Connexion</a></li>
                {% else %}
                    <li><a href="/logout" id="logoutButton">Déconnexion</a></li>
                {% endif %}
            </ul>
       </div>
       <div id="Premiere_etape">
            <div id="Caracéritsiques">
                <div id="Marque"></div>
                    <label for="item"> Marque </label>
                <div id="Serie"></div>
                <div id="Moteur"></div>
                <div id="Boite "></div>
            </div>
            <div id="Caracéritsiques_2">
                <div id="Annee"></div>
                <div id="Budget"></div>
                <div id="KM_max"></div>
                <div id="Options "></div>
                <div id="Puissance "></div>
            </div>
            <div id="Divers">

            </div>
            </div>
            <p id="Aide"> *Si vous n'avez pas d'idée spécifique en tête, vous pouvez laisser les valeurs vides.</p>
       </div>
       <div id="Deuxieme_etape">

       </div>

    </main>

<script src="{{ url_for('static', filename='JS/Demande.js') }}"></script>
</body>

</html>
