<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Connexion UIMM</title>
    </head>
    
    <body>
        <h1>Connexion</h1>
        <form action="/" method="POST">
            <label for="identifiant">Identifiant:</label><br>
            <input type="text" id="identifiant" name="identifiant"><br><br>
    
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
    
            <input type="submit" value="Se connecter">
        </form>
    </body>
</html>
        