<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>UIMM</title>
    </head>
    
    <body>
        <h1>Connexion</h1>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        {{ form.Identifiant.label }}<br>
        {{ form.Identifiant(size=16) }}<br>
        </p>
        <p>
        {{ form."Mot_de_passe".label }}<br>
        {{ form.MDP(size=16) }}<br>
        </p>
        <p>{{ form.Connexion() }}</p>
        </form>
    </body>
</html>
        