<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>PBimportation</title>
</head>

<body>
    <header>
        <div class="Bandeau haut">
            <div id="Bandeau_haut_gauche">
                <div class="Bandeau_ecriture">
                    <a href="/">
                        <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                    </a>
                </div>
            </div>
            <div id="Bandeau_haut_droit">
                <div id="Bandeau_haut_droit_premier">
                    <a id="Txt_menu">Menu</a>
                    <div class="Menu_icon">
                        <input aria-label="Navigation" class="Menu-icon__cheeckbox" type="checkbox">
                        <div>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div id="Bandeau_haut_droit_second">
                    <a id="Faire_demande" href="Demande"> Faire une demande</a>
                </div>
            </div>
        </div>
    </header>

    <main class="homepage">
        <div class="homepage_premiere_partie">
            <img src="{{url_for('static', filename='Bmw_fond.png')}}" alt="bmw_fond" class="Image_fond">
            <div class="homepage_premiere_partie_gauche">
                <div class="homepage_premiere_partie_gauche_contenu">
                    <p> Élevez votre expérience </p>
                    <p>Profitez de l'occasion pour vous offrir l'unique et l'exceptionnel, sans efforts ni compromis. Transformez votre expérience d'achat en un moment privilégié</p>
                    <p>Explorez l'importation automobile pour vivre une expérience unique avec des options exclusives qui font la différence</p>
                    <p>
                        <a href="Demande"> Faire une demande
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div id="homepage_text_anime">
            <div>
                <h1>
                    Spécialiste importation véhicules Allemagne, Belgique, Pays-bas, Autriche, Espagne – Occasion & Neuf – Basé France –
                </h1>
            </div>
            <div>
                <h1>
                    Spécialiste importation véhicules Allemagne, Belgique, Pays-bas, Autriche, Espagne – Occasion & Neuf – Basé France –
                </h1>
            </div>
        </div>
        <div class="homepage_dexuieme_partie">
            <div class="homepage_dexuieme_partie_gauche">
                <div class="homepage_dexuieme_partie_gauche_contenu">
                    <h2>Importer votre véhicule d'Europe </h2>
                    <p>Nous importons des véhicules de toutes marques et de tous modèles en provenance d'Allemagne et d'Europe (Pays-Bas, Belgique, Suède, Autriche, Espagne) : voitures, motos, camping-cars, utilitaires. Trouvez votre véhicule en moins de 15 jours en réalisant jusqu'à 40% d'économies en toute sécurité.</p>
                    <p>Parce que l'exigence ne doit pas être une option, nous ne travaillons qu'avec des concessions certifiées et des particuliers sélectionnés avec soin. Retrouvez nos véhicules d'occasion venus d'Allemagne, mais aussi de Belgique, d'Autriche, des Pays-Bas ou encore d'Espagne, pour un parc automobile trois fois plus grand et encore plus d'options disponibles ! De la recherche de votre véhicule à sa livraison et son immatriculation définitive, nous vous accompagnons à chaque étape.</p>
                    <div>
                        <a href="Demande"> Faire une demande
                        </a>
                    </div>
                    <span></span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>