<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>PBimportation</title>
    </head>

    <body>
        <header>
            <div class="Bandeau haut">
                <div id="Bandeau_haut_gauche">
                    <div class="Bandeau_ecriture">
                        <a href="/">
                            <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div id="Bandeau_haut_droit">
                    <div id="Bandeau_haut_droit_premier">
                        <a id="Txt_menu">Menu</a>
                        <div class="Menu_icon">
                            <input aria-label="Navigation" class="Menu-icon__cheeckbox" type="checkbox">
                            <div>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div id="Bandeau_haut_droit_second">
                        <a id="Faire_demande"> Faire une demande</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <img src="{{url_for('static', filename='Bmw_fond.png')}}" alt="bmw_fond" class="Image_fond">

            

        </main>
    </body>
</html>
