<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>PBimportation</title>
</head>

<body>
    <header>
        <div class="Bandeau haut">
            <div id="Bandeau_haut_gauche">
                <div class="Bandeau_ecriture">
                    <a href="/">
                        <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                    </a>
                </div>
            </div>
            <div id="Bandeau_haut_droit">
                <div id="Bandeau_haut_droit_premier">
                    <a id="Txt_menu">Menu</a>
                    <div class="Menu_icon">
                        <input aria-label="Navigation" class="Menu-icon__cheeckbox" type="checkbox">
                        <div>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div id="Bandeau_haut_droit_second">
                    <a id="Faire_demande" href="Demande"> Faire une demande</a>
                </div>
            </div>
        </div>
    </header>

    <main class="homepage">
        <div class="homepage_premiere_partie">
            <img src="{{url_for('static', filename='Bmw_fond.png')}}" alt="bmw_fond" class="Image_fond">

            <div class="homepage_premiere_partie_gauche">
                <div class="homepage_premiere_partie_gauche_contenu">
                    <p> Élevez votre expérience </p>
                    <p>Profitez de l'occasion pour vous offrir l'unique et l'exceptionnel, sans efforts ni compromis. Transformez votre expérience d'achat en un moment privilégié</p>
                    <p>Explorez l'importation automobile pour vivre une expérience unique avec des options exclusives qui font la différence</p>
                    <p>
                        <a href="Demande"> Faire une demande</a>
                    </p>
                </div>
            </div>
            <div id="homepage_texte_anime">
                <div>
                    <h1>
                        Courtier automobile – Spécialiste importation véhicules Allemagne, Belgique, Pays-bas, Autriche, Espagne – Occasion & Neuf – Basé France et Allemagne –
                    </h1>
                </div>
                <div>
                    <h1>
                        Courtier automobile – Spécialiste importation véhicules Allemagne, Belgique, Pays-bas, Autriche, Espagne – Occasion & Neuf – Basé France et Allemagne –
                    </h1>
                </div>
            


            </div>
        </div>


    </main>
</body>

</html>