<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Creation_compte.css') }}">
        <title>Connexion</title>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    </head>
    
<body>
    <!--Permet d'afficher les messages flash (début)-->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flash_message">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <!--Permet d'afficher les messages flash (fin)-->
    <header>
            <div class="Bandeau haut">
                <div id="Bandeau_haut_gauche">
                    <div class="Bandeau_ecriture">
                        <a href="/">
                            <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div id="Bandeau_haut_droit">
                    <div id="Bandeau_haut_droit_premier">
                        <button id="Txt_menu">Menu ☰</button>
                    </div>
                    <div id="Bandeau_haut_droit_second">
                        <a id="Faire_demande" href="Demande"> Faire une demande</a>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <div id="menuOverlay">
             <button id="closeMenu">Fermer ✖</button>
             <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/Demande">Faire une demande</a></li>
                {% if 'user_id' not in session %}
                    <li><a href="/Connexion">Connexion</a></li>
                {% else %}
                    <li><a href="/logout" id="logoutButton">Déconnexion</a></li>
                {% endif %}
            </ul>
        </div>
        <img src="{{url_for('static', filename='Fond_connexion.jpeg')}}" alt="Porsche_fond" id="Image_fond_connexion">
        <div id='Bloc_connexion'>   
            <div id="Bloc_droit"></div>
            <div id="Bloc_milieu">
                <div id="Bloc_milieu_texte">
                    <form action="/Creation_compte" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    
                        <label id='Nom_texte' for="Nom">Nom* :</label><br>
                        <input type="text" id="Nom_champ" name="Nom" value="{{ request.form['Nom'] | e if request.form.get('Nom') else '' }}" required><br><br>
                    
                        <label id='Prenom_texte' for="Prenom">Prenom :</label><br>
                        <input type="text" id="Prenom_champ" name="Prenom" value="{{ request.form['Prenom'] | e if request.form.get('Prenom') else '' }}"><br><br>
                    
                        <label id='Sociétée_texte' for="Sociétée">Sociétée :</label><br>
                        <input type="text" id="Sociétée_champ" name="Sociétée" value="{{ request.form['Sociétée'] | e if request.form.get('Sociétée') else '' }}"><br><br>
                    
                        <label id='Mail_texte' for="Mail">Mail* :</label><br>
                        <input type="text" id="Mail_champ" name="Mail" value="{{ request.form['Mail'] | e if request.form.get('Mail') else '' }}" required><br><br>
                    
                        <label id='Mdp_texte' for="Mdp">Mot de passe* :</label><br>
                        <input type="password" id="Mdp_champ" name="Mdp" required><br><br> 
                    
                        <label id='Mdp_texte_2' for="Mdp">Confirmer mot de passe* :</label><br>
                        <input type="password" id="Mdp_2" name="Mdp_2" required><br><br> 
                    
                        <label id='Num' for="Num">Numéro de téléphone* :</label><br>
                        <input type="text" id="Num" name="Num" value="{{ request.form['Num'] | e if request.form.get('Num') else '' }}" required><br><br> 
                    
                        <input id="Creation" type="submit" value="Créer compte">
                        <h5>* : Champs obligatoires</h5>
                    </form>
                </div>
            </div>
            <div id="Bloc_gauche"></div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='JS/Creation_compte.js') }}"></script>
</body>
</html>
        