<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Demande.css') }}">
    <title>PBimportation</title>
</head>

<body>
    <!--Permet d'afficher les messages flash (début)-->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flash_message">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!--Permet d'afficher les messages flash (fin)-->
    <header>
        <div class="Bandeau haut">
            <div id="Bandeau_haut_gauche">
                <div class="Bandeau_ecriture">
                    <a href="/">
                        <img src="{{url_for('static', filename='Logo.PNG')}}" alt="Logo">
                    </a>
                </div>
            </div>
            <div id="Bandeau_haut_droit">
                <div id="Bandeau_haut_droit_premier">
                    <button id="Txt_menu">Menu ☰</button>
                </div>
                <div id="Bandeau_haut_droit_second">
                    <a id="Faire_demande" href="Demande"> Faire une demande</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="menuOverlay">
            <button id="closeMenu">Fermer ✖</button>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/Demande">Faire une demande</a></li>
                {% if 'user_id' not in session %}
                    <li><a href="/Connexion">Connexion</a></li>
                {% else %}
                    <li><a href="/logout" id="logoutButton">Déconnexion</a></li>
                    {% if session.get('id_Type') == 'ADMIN' %}
                        <li><a href="/Comptes">Comptes</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div id="Première_partie">
                <div id="Premiere_etape">
                    <div id="Caracéritsiques">
                        <div id="Marque">
                            <label for="item"> MARQUE </label>
                        </div>

                        <div id="Serie">
                            <label for="item"> SERIE</label>
                        </div>

                        <div id="Moteur">
                            <label for="item"> MOTEUR</label>
                        </div>

                        <div id="Boite">
                            <label for="item"> BOITE</label>
                        </div>
                    </div>

                    <div id="Caracéritsiques_choix">
                        <div id="Choix_Marque">
                            <input id="Choix_Marque_input" name="marque" placeholder="BMW" required><br><br>
                        </div>
        
                        <div id="Choix_Serie">
                            <input id="Choix_Serie_input" name="serie" placeholder="SERIE 1" required><br><br>
                        </div>

                        <div id="Choix_Moteur">
                            <input type="hidden" name="moteur" id="hidden_moteur">
                            <div class="Choix_Moteur_Selection" data-value="Essence">Essence</div>
                            <div class="Choix_Moteur_Selection" data-value="Diesel">Diesel</div>
                            <div class="Choix_Moteur_Selection" data-value="Hybride">Hybride</div>
                            <div class="Choix_Moteur_Selection" data-value="Electrique">Electrique</div>
                        </div>
                    
                        <div id="Choix_Boite">
                            <input type="hidden" name="boite" id="hidden_boite">
                            <div class="Choix_Boite_Selection" data-value="Manuel">Manuel</div>
                            <div class="Choix_Boite_Selection" data-value="Automatique">Automatique</div>
                        </div>
                
                    </div>

                    <div id="Caracéritsiques_2">
                        <div id="Annee">
                            <label for="item"> Annee </label>
                        </div>

                        <div id="Budget">
                            <label for="item"> Budget MAX </label>
                        </div>

                        <div id="KM_max">
                            <label for="item"> KM MAX </label>
                        </div>

                        <div id="Puissance">
                            <label for="item">Puissance</label>
                        </div>
                    </div>

                    <div id="Caracéritsiques_choix_2">
                        <div id="Choix_Annee">
                            <input name="Choix_Annee_input" id="Choix_Annee_input" placeholder="2006-2012" type="text">
                        </div>

                        <div id="Choix_Budget">
                            <input name="Choix_Budget_input" id="Choix_Budget_input" placeholder="20 000€" type="text">
                        </div>

                        <div id="Choix_KM">
                            <input type="range" id="curseur_KM" min="1" max="200000" value="1" step="1000">
                            <span id="valeur-affichee_KM">Valeur : 1</span>
                        </div>

                        <div id="Choix_Puissance">
                            <div class="range-container">
                                <!-- Premier curseur (min) -->
                                <input type="range" id="minRange" min="1" max="1000" value="250" step="1">
                                <!-- Deuxième curseur (max) -->
                                <input type="range" id="maxRange" min="1" max="1000" value="750" step="1">
                            </div>
                            <p name="range-values" id="range-values">Min : 250 | Max : 750</p>
                        </div>
                    </div>

                    <div id="Caracéritsiques_3">
                        <div id="Options">
                            <label for="item"> Options </label>
                        </div>
                    </div>

                    <div id="Caracéritsiques_choix_3">
                        <div id="Options_choix">
                            <input id="Options_choix_input" name="Options_choix_input" placeholder="Décrire les options importantes">
                        </div>
                    </div>

                    <div id="Caracéritsiques_3">
                        <div id="Divers">
                            <label for="item"> Divers </label>
                        </div>
                    </div>

                    <div id="Caracéritsiques_choix_3">
                        <div id="Description_choix">
                            <input id="Description_Choix_input" name="Description_Choix_input" placeholder="Décrire informations diverses">
                        </div>
                    </div>
                    <p id="Aide"> *Si vous n'avez pas d'idée spécifique en tête, vous pouvez laisser les valeurs vides.</p>
                </div>

                <div id="Deuxieme_etape">
                    <div id="Choix_offre">
                        <label for="item">Choissifez votre offre</label>
                    </div>
                    <div class="Choix_Presta">
                        <button type="button" class="selection-btn" data-id="1" id="Offre_WW">Offre WW provisoire</button>
                            <p class="Offre_WW_texte" data-id="1" style="display: none;">
                                Nos experts vous accompagnent dans votre achat, et vous récupérez le véhicule vous-même au garage en Allemagne (livraison non incluse).
                            </p>

                        <button type="button" class="selection-btn" data-id="2" id="Offre_WW_CG">Offre gestion administrative</button>
                            <p class="Offre_WW_texte" data-id="2" style="display: none;">
                                Nous nous occupons de toute la partie administrative pour faciliter votre acquisition.
                            </p>

                        <button type="button" class="selection-btn" data-id="3" id="Offre_complete">Offre gestion complète</button>
                            <p class="Offre_WW_texte" data-id="3" style="display: none;">
                                Un accompagnement total : achat, transport et immatriculation en France.
                            </p>

                        <button type="button" class="Continuer" >Continuer</button>
                    </div>
                </div>
            </div>
        
            <div id="Deuxeme_partie"> 
                <span id="Span_deuxième_partie"></span>
                <p id="Informations_facturation"> Informations de facturation :</p>

                <div id="Champs_de_facturation">
                    <div id="Camp_ville">
                        <label for="id_CP">Code Postal* :</label>
                        <input type="number" id="id_CP" name="id_CP" required>
                        <label for="id_Ville">Ville* :</label>
                        <input type="text" id="id_Ville" name="id_Ville" required>

                    </div>

                    <div id="champ_rue">
                        <label for="id_N_Batiment">Numéro de batiment* :</label>
                        <input type="number" id="id_N_Batiment" name="id_N_Batiment" required>

                        <label for="id_cmplt_rue">Complément d'Adresse :</label>
                        <input type="text" id="id_cmplt_rue" name="id_cmplt_rue" maxlength="50">

                        <label for="id_Nom_rue">Nom de la Rue* :</label>
                        <input type="text" id="id_Nom_rue" name="id_Nom_rue" maxlength="50" required>
                    </div>
                    <h5>* : Champs obligatoires</h5>
                </div>
            
                <div id="Boutonnerie">
                    <button id="btnValider" type="submit">Valider</button>
                    <button id="btnRetour" type="button" onclick="window.history.back()">Retour</button>
                </div>
            </div>
        </form>

    </main>

    <script src="{{ url_for('static', filename='JS/Demande.js') }}"></script>
</body>

</html>
